* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
}

canvas {
  background: #f0f0f0b8;
  display: block;
  border-radius: 5px;
}

#game-title{
  color: white;
  font-family: SuperMario;
  display: inline-block;
  font-size: 54px;
}

#game-title span {
  color: black;
  text-shadow:
    -1px -5px 0 black, -2px -5px 0 black, -3px -5px 0 black, -4px -5px 0 black, -5px -5px 0 black,
    1px -5px 0 black, 2px -5px 0 black, 3px -5px 0 black, 4px -5px 0 black, 5px -5px 0 black,
    -5px -1px 0 black, -5px -2px 0 black, -5px -3px 0 black, -5px -4px 0 black, -5px 1px 0 black,
    -5px 2px 0 black, -5px 3px 0 black, -5px 4px 0 black,
    5px -1px 0 black, 5px -2px 0 black, 5px -3px 0 black, 5px -4px 0 black, 5px 1px 0 black,
    5px 2px 0 black, 5px 3px 0 black, 5px 4px 0 black,
    -1px 5px 0 black, -2px 5px 0 black, -3px 5px 0 black, -4px 5px 0 black, -5px 5px 0 black,
    1px 5px 0 black, 2px 5px 0 black, 3px 5px 0 black, 4px 5px 0 black, 5px 5px 0 black
}

#game-title span:nth-child(1) {
  color: #009CDA;
}

#game-title span:nth-child(2) {
  color: #FCD000;
}

#game-title span:nth-child(3) {
  color: #E71E07;
}

#game-title span:nth-child(4) {
  color: #42B132;
}

#game-title span:nth-child(5) {
  color: #FCD000;
}

#game-title span:nth-child(6) {
  color: #E71E07;
}

#game-title span:nth-child(7) {
  color: #42B132;
}

#game-title span:nth-child(8) {
  color: #FCD000;
}

#game-title span:nth-child(9) {
  color: #009CDA;
}

#game-title span:nth-child(10) {
  color: #42B132;
}

.play-btn {
  position: absolute;
  top: 80px;
  right: 30px;
}

#final-message {
  color: #fff;
}

@font-face {
  font-family: SuperMario;
  src: url("../fonts/SuperMario256.ttf");
}

#play-btn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

#play-btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#play-btn:hover, #play-btn:disabled {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#play-btn:active, #play-btn:disabled {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

#play-btn:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
