* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
}

canvas {
  background: #f0f0f0b8;
  display: block;
  border-radius: 5px;
}

.play-btn {
  position: absolute;
  top: 80px;
  right: 30px;
}

#final-message {
  color: #fff;
}

@font-face {
  font-family: SuperMario;
  src: url("../fonts/SuperMario256.ttf");
}
